<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('初始多表格')" />
</head>
<body class="gray-bg">
<div class="row">
    <div class="col-sm-6">
        <div class="col-xs-6 select-table table-striped">
            <table id="bootstrap-table1"></table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-6 select-table table-striped">
            <table id="bootstrap-table2"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:notice:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:notice:remove')}]];
    var types = [[${@dict.getType('sys_notice_type')}]];
    var datas = [[${@dict.getType('sys_notice_status')}]];
    var prefix = ctx + "system/notice";

    $(function() {
        var options = {
            id: "bootstrap-table1",
            toolbar: "toolbar1",
            url: prefix + "/listNotice",
            createUrl: prefix + "/add",
            removeUrl: prefix + "/remove",
            updateUrl: prefix + "/edit/{id}",
            modalName: "通知",
            columns: [
                {
                    field : 'noticeId',
                    title : '序号',
                    visible: false
                },
                {
                    field : 'noticeTitle',
                    title : '通知',
                    formatter: function(value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.noticeId + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                }
                /*{
                    field: 'noticeType',
                    title: '公告类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(types, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                }*/]
        };
        $.table.init(options);
    });
    $(function() {
        var options = {
            id: "bootstrap-table2",
            toolbar: "toolbar2",
            url: prefix + "/listAnnouncement",
            createUrl: prefix + "/add",
            removeUrl: prefix + "/remove",
            updateUrl: prefix + "/edit/{id}",
            modalName: "公告",
            columns: [
                {
                    field : 'noticeId',
                    title : '序号',
                    visible: false
                },
                {
                    field : 'noticeTitle',
                    title : '公告',
                    formatter: function(value, row, index) {
                        return '<a href="javascript:void(0)" onclick="detail(\'' + row.noticeId + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                }/*,
                {
                    field: 'noticeType',
                    title: '公告类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(types, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                }*/]
        };
        $.table.init(options);
    });

    function detail(dictId) {
        var url = prefix + '/detail/' + dictId;
        $.modal.openTab("字典数据", url);
    }
</script>
</body>
</html>